<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  
  <Product Id="*"
           Name="iBank.ReportServer.10"
           Language="1033"
           Version="!(bind.FileVersion.F_exe)"
           Manufacturer="Cornerstone Information Systems"
           UpgradeCode="{BDB8FFA6-7363-40DB-9127-0BA66AC31A42}">

    <Package Manufacturer="Cornerstone Information Systems"
             InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine"
             Platform="x64"/>

    <Property Id="PREVIOUSVERSIONINSTALLED" Secure="yes"/>
    <Property Id="SERVERNUMBER" Value="10"/>
    <Property Id="SERVICENAME" Value="iBank.ReportServer.10"/>
    <Property Id="USER" Value="dev\keystoneapp4"/>
    <Property Id="PSWD" Value="CISapp4#"/>
    <Property Id="LOG4NETLOGLEVEL" Value="DEBUG"/>

    <Property Id="INSTANCEID" Value="0"/>
    <InstanceTransforms Property="INSTANCEID">
      <Instance Id="I11" ProductCode="*" UpgradeCode="{29368E40-462A-46FE-B33A-62B1A723E9F4}" ProductName="iBank.ReportServer.11"/>
      <Instance Id="I100" ProductCode="*" UpgradeCode="{90C47808-D703-418B-8A07-3061CC0CB1A4}" ProductName="iBank.ReportServer.100"/>
    </InstanceTransforms>

    <MajorUpgrade Schedule="afterInstallInitialize"
                  AllowDowngrades="yes"/>

    <Media Id="1" Cabinet="iBank.ReportServer.cab" EmbedCab="yes"/>

    <Property Id="iBank.ReportServerLogo">1</Property>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder" Name="PFiles">
        <Directory Id="iBankFolder" Name="iBank">
          <Directory Id="ServersFolder" Name="Servers">
            <Directory Id="LogoFolder" Name="TempLogos"/>
            <Directory Id="DefaultLogo" Name="DefaultLogo"/>
            <Directory Id="UserDefinedReportsFolder" Name="UserDefinedReports">
              <Directory Id="BaseReportsFolder" Name="BaseReports"/>
            </Directory>
            <Directory Id="INSTALLFOLDER" Name="iBank.ReportServer.10">
              <Directory Id="bin" Name="bin"/>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <ComponentGroup Id="Logos" Directory="LogoFolder">
      <Component Id="C_Logos" Guid="" Win64="yes">
        <CreateFolder/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="DefaultLogo" Directory="DefaultLogo">
      <Component Id="C_DefaultLogo" Guid="" Win64="yes">
        <File Id="F_DefaultLogo.jpg" Name="ibanklogo.jpg" KeyPath="no" Vital="yes" DiskId="1" Source="..\iBank.Services.Implementation\Images\"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="UserDefinedReportTemplate" Directory="BaseReportsFolder">
      <Component Id="C_UserDefinedReportTemplate" Guid="" Win64="yes">
        <File Id="F_StandardPortrait.rdlc" Name="StandardPortrait.rdlc" KeyPath="no" Vital="yes" DiskId="1" Source="..\UserDefinedReports\BaseReports\"/>
      </Component>
    </ComponentGroup>
    
    <ComponentGroup Id="app" Directory="INSTALLFOLDER">

      <Component Id="C_exe" Guid="*" Win64="yes">
        <File Id="F_exe" Name="iBank.ReportServer.exe" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>

        <ServiceInstall
              Id="ServiceInstaller"
              Type="ownProcess"
              Vital="yes"
              Name="[SERVICENAME]"
              DisplayName="[SERVICENAME]"
              Description="Processes reports generated via the iBank Reporting UI."
              Start="auto"
              Account="[USER]"
              Password="[PSWD]"
              ErrorControl="normal"
              Interactive="no" >
          
              <util:ServiceConfig
                FirstFailureActionType='restart'
                SecondFailureActionType='restart'
                ThirdFailureActionType='restart'            
                RestartServiceDelayInSeconds='30'
                ResetPeriodInDays='1'/>

        </ServiceInstall>

        <ServiceControl
          Id="StartService"
          Start="install"
          Stop="both"
          Remove="uninstall"
          Name="[SERVICENAME]"
          Wait="yes"/>
        
      </Component>
      <Component Id="C_exe.config" Guid="*" Win64="yes">
        <File Id="F_exe.config" Name="iBank.ReportServer.exe.config" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
        <util:XmlFile
           Id="UpdateServiceNumber"
           Action="setValue"
           File="[INSTALLFOLDER]iBank.ReportServer.exe.config"
           SelectionLanguage="XPath"
           Permanent="yes"
           ElementPath="/configuration/appSettings/add[\[]@key='ServerNumber'[\]]/@value"
           Value="[SERVERNUMBER]" />
      </Component>
      <Component Id="C_AutoMapper.dll" Guid="*" Win64="yes">
        <File Id="F_AutoMapper.dll" Name="AutoMapper.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_CODE.Framework.Core.dll" Guid="*" Win64="yes">
        <File Id="F_CODE.Framework.Core.dll" Name="CODE.Framework.Core.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_CODE.Framework.Core.pdb" Guid="*" Win64="yes">
        <File Id="F_CODE.Framework.Core.pdb" Name="CODE.Framework.Core.pdb" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_CODE.Framework.Core.Utilities.dll" Guid="*" Win64="yes">
        <File Id="F_CODE.Framework.Core.Utilities.dll" Name="CODE.Framework.Core.Utilities.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_CODE.Framework.Core.Utilities.pdb" Guid="*" Win64="yes">
        <File Id="F_CODE.Framework.Core.Utilities.pdb" Name="CODE.Framework.Core.Utilities.pdb" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_CODE.Framework.Services.Client.dll" Guid="*" Win64="yes">
        <File Id="F_CODE.Framework.Services.Client.dll" Name="CODE.Framework.Services.Client.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_CODE.Framework.Services.Client.pdb" Guid="*" Win64="yes">
        <File Id="F_CODE.Framework.Services.Client.pdb" Name="CODE.Framework.Services.Client.pdb" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_CODE.Framework.Services.Contracts.dll" Guid="*" Win64="yes">
        <File Id="F_CODE.Framework.Services.Contracts.dll" Name="CODE.Framework.Services.Contracts.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_CODE.Framework.Services.Contracts.pdb" Guid="*" Win64="yes">
        <File Id="F_CODE.Framework.Services.Contracts.pdb" Name="CODE.Framework.Services.Contracts.pdb" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_CrystalDecisions.CrystalReports.Engine.dll" Guid="*" Win64="yes">
        <File Id="F_CrystalDecisions.CrystalReports.Engine.dll" Name="CrystalDecisions.CrystalReports.Engine.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_CrystalDecisions.ReportAppServer.ClientDoc.dll" Guid="*" Win64="yes">
        <File Id="F_CrystalDecisions.ReportAppServer.ClientDoc.dll" Name="CrystalDecisions.ReportAppServer.ClientDoc.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_CrystalDecisions.ReportAppServer.CommLayer.dll" Guid="*" Win64="yes">
        <File Id="F_CrystalDecisions.ReportAppServer.CommLayer.dll" Name="CrystalDecisions.ReportAppServer.CommLayer.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_CrystalDecisions.ReportAppServer.CommonControls.dll" Guid="*" Win64="yes">
        <File Id="F_CrystalDecisions.ReportAppServer.CommonControls.dll" Name="CrystalDecisions.ReportAppServer.CommonControls.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_CrystalDecisions.ReportAppServer.CommonObjectModel.dll" Guid="*" Win64="yes">
        <File Id="F_CrystalDecisions.ReportAppServer.CommonObjectModel.dll" Name="CrystalDecisions.ReportAppServer.CommonObjectModel.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_CrystalDecisions.ReportAppServer.Controllers.dll" Guid="*" Win64="yes">
        <File Id="F_CrystalDecisions.ReportAppServer.Controllers.dll" Name="CrystalDecisions.ReportAppServer.Controllers.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_CrystalDecisions.ReportAppServer.CubeDefModel.dll" Guid="*" Win64="yes">
        <File Id="F_CrystalDecisions.ReportAppServer.CubeDefModel.dll" Name="CrystalDecisions.ReportAppServer.CubeDefModel.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_CrystalDecisions.ReportAppServer.DataDefModel.dll" Guid="*" Win64="yes">
        <File Id="F_CrystalDecisions.ReportAppServer.DataDefModel.dll" Name="CrystalDecisions.ReportAppServer.DataDefModel.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_CrystalDecisions.ReportAppServer.DataSetConversion.dll" Guid="*" Win64="yes">
        <File Id="F_CrystalDecisions.ReportAppServer.DataSetConversion.dll" Name="CrystalDecisions.ReportAppServer.DataSetConversion.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_CrystalDecisions.ReportAppServer.ObjectFactory.dll" Guid="*" Win64="yes">
        <File Id="F_CrystalDecisions.ReportAppServer.ObjectFactory.dll" Name="CrystalDecisions.ReportAppServer.ObjectFactory.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_CrystalDecisions.ReportAppServer.Prompting.dll" Guid="*" Win64="yes">
        <File Id="F_CrystalDecisions.ReportAppServer.Prompting.dll" Name="CrystalDecisions.ReportAppServer.Prompting.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_CrystalDecisions.ReportAppServer.ReportDefModel.dll" Guid="*" Win64="yes">
        <File Id="F_CrystalDecisions.ReportAppServer.ReportDefModel.dll" Name="CrystalDecisions.ReportAppServer.ReportDefModel.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_CrystalDecisions.ReportAppServer.XmlSerialize.dll" Guid="*" Win64="yes">
        <File Id="F_CrystalDecisions.ReportAppServer.XmlSerialize.dll" Name="CrystalDecisions.ReportAppServer.XmlSerialize.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_CrystalDecisions.ReportSource.dll" Guid="*" Win64="yes">
        <File Id="F_CrystalDecisions.ReportSource.dll" Name="CrystalDecisions.ReportSource.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_CrystalDecisions.Shared.dll" Guid="*" Win64="yes">
        <File Id="F_CrystalDecisions.Shared.dll" Name="CrystalDecisions.Shared.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_EntityFramework.dll" Guid="*" Win64="yes">
        <File Id="F_EntityFramework.dll" Name="EntityFramework.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_EntityFramework.SqlServer.dll" Guid="*" Win64="yes">
        <File Id="F_EntityFramework.SqlServer.dll" Name="EntityFramework.SqlServer.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_EntityFramework.xml" Guid="*" Win64="yes">
        <File Id="F_EntityFramework.xml" Name="EntityFramework.xml" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_EntityFramework.SqlServer.xml" Guid="*" Win64="yes">
        <File Id="F_EntityFramework.SqlServer.xml" Name="EntityFramework.SqlServer.xml" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_EPPlus.dll" Guid="*" Win64="yes">
        <File Id="F_EPPlus.dll" Name="EPPlus.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_EPPlus.xml" Guid="*" Win64="yes">
        <File Id="F_EPPlus.xml" Name="EPPlus.xml" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_iBank.Services.Implementation.dll" Guid="*" Win64="yes">
        <File Id="F_iBank.Services.Implementation.dll" Name="iBank.Services.Implementation.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_iBank.Services.Implementation.pdb" Guid="*" Win64="yes">
        <File Id="F_iBank.Services.Implementation.pdb" Name="iBank.Services.Implementation.pdb" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_iBankDomain.dll" Guid="*" Win64="yes">
        <File Id="F_iBankDomain.dll" Name="iBankDomain.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_iBank.Entities.dll" Guid="*" Win64="yes">
        <File Id="F_iBank.Entities.dll" Name="iBank.Entities.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_Repository.SQL.dll" Guid="*" Win64="yes">
        <File Id="F_Repository.SQL.dll" Name="iBank.Repository.SQL.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_UserDefinedReports.dll" Guid="*" Win64="yes">
        <File Id="F_UserDefinedReports.dll" Name="UserDefinedReports.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_UserDefinedReports.pdb" Guid="*" Win64="yes">
        <File Id="F_UserDefinedReports.pdb" Name="UserDefinedReports.pdb" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_Domain.dll" Guid="*" Win64="yes">
        <File Id="F_Domain.dll" Name="Domain.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_Domain.pdb" Guid="*" Win64="yes">
        <File Id="F_Domain.pdb" Name="Domain.pdb" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_iBank.Server.Utilities.dll" Guid="*" Win64="yes">
        <File Id="F_iBank.Server.Utilities.dll" Name="iBank.Server.Utilities.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_iBank.Server.Utilities.pdb" Guid="*" Win64="yes">
        <File Id="F_iBank.Server.Utilities.pdb" Name="iBank.Server.Utilities.pdb" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_Microsoft.Office.Interop.Excel.dll" Guid="*" Win64="yes">
        <File Id="F_Microsoft.Office.Interop.Excel.dll" Name="Microsoft.Office.Interop.Excel.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_Microsoft.ReportViewer.DataVisualization.dll" Guid="*" Win64="yes">
        <File Id="F_Microsoft.ReportViewer.DataVisualization.dll" Name="Microsoft.ReportViewer.DataVisualization.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_Microsoft.ReportViewer.ProcessingObjectModel.dll" Guid="*" Win64="yes">
        <File Id="F_Microsoft.ReportViewer.ProcessingObjectModel.dll" Name="Microsoft.ReportViewer.ProcessingObjectModel.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_Microsoft.ReportViewer.Common.dll" Guid="*" Win64="yes">
        <File Id="F_Microsoft.ReportViewer.Common.dll" Name="Microsoft.ReportViewer.Common.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_Microsoft.ReportViewer.WinForms.dll" Guid="*" Win64="yes">
        <File Id="F_Microsoft.ReportViewer.WinForms.dll" Name="Microsoft.ReportViewer.WinForms.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_ParallelExtensionsExtras.dll" Guid="*" Win64="yes">
        <File Id="F_ParallelExtensionsExtras.dll" Name="ParallelExtensionsExtras.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_PagedList.dll" Guid="*" Win64="yes">
        <File Id="F_PagedList.dll" Name="PagedList.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_Microsoft.SqlServer.Types.dll" Guid="*" Win64="yes">
        <File Id="F_Microsoft.SqlServer.Types.dll" Name="Microsoft.SqlServer.Types.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_stdole.dll" Guid="*" Win64="yes">
        <File Id="F_stdole.dll" Name="stdole.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_CISLogger.dll" Guid="*" Win64="yes">
        <File Id="F_CISLogger.dll" Name="CISLogger.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_MoreLinq.dll" Guid="*" Win64="yes">
        <File Id="F_MoreLinq.dll" Name="MoreLinq.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_Fasterflect.dll" Guid="*" Win64="yes">
        <File Id="F_Fasterflect.dll" Name="Fasterflect.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_log4net.dll" Guid="*" Win64="yes">
        <File Id="F_log4net.dll" Name="log4net.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_NodaTime.dll" Guid="*" Win64="yes">
        <File Id="F_NodaTime.dll" Name="NodaTime.dll" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
      <Component Id="C_log4net.config" Guid="*" Win64="yes">
        <util:XmlFile
         Id="UpdateLogLevel"
         Action="setValue"
         File="[INSTALLFOLDER]log4net.config"
         SelectionLanguage="XPath"
         Permanent="no"
         PreserveModifiedDate="yes"
         ElementPath="/log4net/root/level[\[]@value='INFO'[\]]"
         Name="value"
         Value="[LOG4NETLOGLEVEL]" />
        <File Id="F_log4net.config_DEBUG" Name="log4net.config" KeyPath="yes" Vital="yes" DiskId="1" Source="..\iBank.Client\bin\$(var.Configuration)\"/>
      </Component>
    </ComponentGroup>

    <Feature Id="Complete"
             Title="iBank.ReportServer.[SERVERNUMBER]"
             Level="1"
             Display="expand">
      <ComponentGroupRef Id="Logos"/>
      <ComponentGroupRef Id="app"/>
      <ComponentGroupRef Id="UserDefinedReportTemplate"/>
      <ComponentGroupRef Id="DefaultLogo"/>
    </Feature>

  </Product>
</Wix>