<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="iBankMastersEntities" connectionString="metadata=res://*/iBankMasterModel.csdl|res://*/iBankMasterModel.ssdl|res://*/iBankMasterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.14.121;initial catalog=ibankmasters;user id=keydev;password=keydev1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="iBankClientModel" connectionString="metadata=res://*/iBankClientModel.csdl|res://*/iBankClientModel.ssdl|res://*/iBankClientModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.14.122;initial catalog=ibankdemo;user id=keydev;password=keydev1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CISMasterEntities" connectionString="metadata=res://*/CISMasters.csdl|res://*/CISMasters.ssdl|res://*/CISMasters.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.14.121;initial catalog=CISMaster;user id=keydev;password=keydev1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="iBankAdministrationEntities" connectionString="metadata=res://*/iBankAdministration.csdl|res://*/iBankAdministration.ssdl|res://*/iBankAdministration.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.14.121;initial catalog=iBankAdministration;user id=keydev;password=keydev1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>