@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Welcome to iBank Admin</h1>
        <p>A place where troubleshooting defects is a dream come true.</p>
    </div>
</div>

<main role="main" class="container">

    @*<div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>*@

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Broadcast</h2>
                <p>Broadcasts. </p>
                <p><a class="btn btn-secondary" href="@Url.Action("Index", "Broadcast")" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Oneline Reports</h2>
                <p>Online reports. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Report Queue Manager</h2>
                <p>Report Queue Manager.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Broadcast Queue Manager</h2>
                <p>Broadcast Queue Manager. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Overdue Broadcast Monitor</h2>
                <p>Overdue Broadcast Monitor. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Utilities</h2>
                <p>Utilities.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>
    </div>

</main><!-- /.container -->



@*<div class="alert alert-primary" role="alert">
    This is a primary alert—check it out!
</div>
<div class="alert alert-secondary" role="alert">
    This is a secondary alert—check it out!
</div>
<div class="alert alert-success" role="alert">
    This is a success alert—check it out!
</div>
<div class="alert alert-danger" role="alert">
    This is a danger alert—check it out!
</div>
<div class="alert alert-warning" role="alert">
    This is a warning alert—check it out!
</div>
<div class="alert alert-info" role="alert">
    This is a info alert—check it out!
</div>
<div class="alert alert-light" role="alert">
    This is a light alert—check it out!
</div>
<div class="alert alert-dark" role="alert">
    This is a dark alert—check it out!
</div>*@